@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
}



*{box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;}
html{scroll-behavior: smooth; scroll-padding: 130px;}
.goto-top{
  position: fixed;
  right: 50px;
  bottom: 30px;
  font-size: 35px;
  z-index: 100;
  color: rgb(50, 81, 58);
}
body{margin: auto;}
#header-inner{
  position: relative;
  width: 100%;
  height: 190px;
  background-color: #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header-inner .login{
  position: absolute;
  height: 12px;
  font-size: 13px;
  top: 25px;
  right: 25px;  
}
#header-inner a{
  display: inline-block;
  margin: 0 4px;
}
#header-inner a:nth-child(3){
  font-size: 16px;  
  color:rgb(50, 81, 58);
  margin-left: 10px;
}
#header-inner .logo img{
  width: 200px;
  mix-blend-mode: multiply;
}
header form{position: relative;}
header input{
  position: absolute;
  border: none;
  outline: none;
  width: 400px;
  height: 38px;
  border-radius: 20px;
  font-size: 12px;
  padding: 0 20px;
  top: 8px;
  left:  50%;
  transform: translateX(-50%);
}
header button{
  position: absolute;
  border: none;
  background-color: #fff;
  font-size: 20px;
  color:rgb(50, 81, 58);
  top: 15px;
  left: 160px;
  cursor: pointer;
}
header .header-inner2{
  position: relative;
  background-color:rgb(50, 81, 58);
  width: 100%;
  height: 40px;
  z-index: 100;
}
header .header-inner2 .gnb{
  width: 800px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb>.main{position: relative;}
.gnb>.main>a{
  position: relative;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
}
.gnb>.main:hover>a{
  border-bottom: 3px solid #fff;
  color: #fff;
}
.gnb .sub{
  display: none;
  position: absolute;
  width: 160px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.8);
}
.gnb .sub li{
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb .sub li a{
	color: #333;
	font-size: 13.5px;
  font-weight: 500;
}
.gnb .sub li:hover {background-color: rgba(50, 81, 58, 0.3);}

main{
  position: relative;
  width: 100%;
  height: 540px;
}
.fade{
  position: absolute;
  width: 100%;
  height: inherit;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.fade-items ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 540px;
  background-repeat:no-repeat;
  background-size: cover;
}

/* (2)li에 배경이미지,첫번째 이미지만 보임 */
.fade-items ul li:first-child{display: block;}
.fade-items ul li:nth-child(1){background-image: url(../image/main1.jpg);}
.fade-items ul li:nth-child(2){background-image: url(../image/main2.jpg);}
.fade-items ul li:nth-child(3){background-image: url(../image/main3.jpg);}
.fade-items ul li:nth-child(4){background-image: url(../image/main4.jpg);}

.side-btn .fa-solid{
  font-size: 40px;
  color: #333;
}
.side-btn .prev{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:30px;
}
.side-btn .prev:hover{opacity: 0.5;}
.side-btn .next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:30px;
}
.side-btn .next:hover{opacity: 0.5;}

.fade-items ul li dl{
  position: absolute;
  top:28%;
  left:18%;
  color:#333;
}
.fade-items ul li dl dt{  
  font-family: 'TTLaundryGothicB';
  font-size: 26px;
  font-weight: 400;
}
.fade-items ul li dl dd:nth-of-type(1){
  font-family: 'TTLaundryGothicB';
  font-weight: 700;
  font-size: 46px;
  margin: 8px 0 25px;
}
.fade-items ul li dl dd:nth-of-type(2){
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
}
.fade-items ul li dl dd:nth-of-type(3){
  display: inline-block;
  background-color: #fff;
  color: #333;
  font-weight: 600;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 30px;
  margin-top: 15px;
  text-align: center;
}
.fade-items ul li dl dd:nth-of-type(3):hover{
  border: 1px solid #333;
  color: #333;
  background-color: transparent;
}

section{
  width: 1200px;
  margin: 0 auto 140px;
}
section h2{
  font-family: 'TTLaundryGothicB';
  font-size: 40px;
  text-align: center;
  color: rgb(50, 81, 58);
  margin-bottom: 12px;
}
section h4{
  text-align: center;
  font-weight: 500;
  color: #888;
  margin-bottom: 60px;
  font-size: 18px;
}
section .detail{margin: 30px;}
section .detail p:nth-child(1){
  font-size: 20px;
  font-weight: 800;
}
section .detail p:nth-child(2){
  font-size: 15px;
  font-weight: 400;
  color: #999;
  margin: 3px 0 10px;
}
section .detail p:nth-child(3){
  font-size: 15px;
  font-weight: 700;
}
section .detail p:nth-child(4){
  font-size: 26px;
  font-weight: 600;
  margin-top: 15px;
}
section .detail em{
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through orangered 1px;
  margin: 0 5px;
}
section .detail strong{
  color: orangered;
  font-size: 20px;
  font-weight: 400;
}
#sc1{
  width: 100%;
  height: 890px;
  background-color: bisque;
  padding: 100px;
}
#sc1 .content{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  counter-reset: num;
}
#sc1 .content .co{
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0,0,0,0.2);
  position: relative;
  width: 360px;
  height: 600px;
  cursor: pointer;
}
#sc1 .content .co:hover{
  transform: translateY(-15px);
}
#sc1 .co .image{
  display: block;
  background-size: cover;
  width: 360px;
  height: 420px;
  border-top: 7px solid rgb(50, 81, 58);
  margin-bottom: 20px;
  /* transition: 0.5s; */
}
#sc1 .content .co:nth-child(1) .image{
  background: url(../image/sc1-1.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .content .co:nth-child(2) .image{
  background: url(../image/sc1-2.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .content .co:nth-child(3) .image{
  background: url(../image/sc1-3.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .content .co:nth-child(1):hover .image{
  background: url(../image/sc1-4.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .content .co:nth-child(2):hover .image{
  background: url(../image/sc1-5.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .content .co:nth-child(3):hover .image{
  background: url(../image/sc1-6.jpg) no-repeat center center;
  background-size: cover;
}
#sc1 .co:before{
  content: counter(num);
  counter-increment: num;
  position: absolute; 
  width: 25px;
  height: 25px;
  top: -1.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(50, 81, 58);
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
}

#sc2{
width: 1200px;
height: 620px;
}
#sc2 .content{
display: flex;
justify-content: space-between;
}
#sc2 .co .card:before{
  content: '';
  position: absolute;
  background-color:rgb(50, 81, 58);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
#sc2 .co .card{
  width: 350px;
  height: 350px;
  border-radius: 200px;
  object-fit: cover;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  position: relative;
}
#sc2 .card > div{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}
#sc2 .co:nth-child(1) .front{
  background: url(../image/sc2-1.jpg) no-repeat center center;
  background-size: cover;
}
#sc2 .co:nth-child(1) .back{
  background: url(../image/sc2-4.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
#sc2 .co:nth-child(2) .front{
  background: url(../image/sc2-2.jpg) no-repeat center center;
  background-size: cover;
}
#sc2 .co:nth-child(2) .back{
  background: url(../image/sc2-5.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
#sc2 .co:nth-child(3) .front{
  background: url(../image/sc2-3.jpg) no-repeat center center;
  background-size: cover;
}
#sc2 .co:nth-child(3) .back{
  background: url(../image/sc2-6.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
#sc2 .co:hover .card{
	transform: rotateY(180deg);}
#sc2 .detail{
  margin-top: 30px;
  text-align: center;
}

#sc3{
  width: 100%;
  height: 850px;
  position: relative;
  margin-bottom: 180px;
}
#sc3 .largeimg{
  width: 1200px;
  height: 800px;
  margin: auto;
  overflow: hidden;
}
#sc3 .largeimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sc3 .thumbs{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.thumbs img{
	width: 90px;
	height: 95px;
  object-fit: cover;
  top: -20%;
  margin: 0 4px;
  cursor: pointer;
}
.thumbs img:hover{
  transform: translateY(-10%);
}
.thumbs img.active{
  transform: translateY(-10%);
}
#sc3 > span{
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  width: 1px;
  height: 80px;
}
#sc3 .title{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 90px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
}
#sc3 .title p:nth-of-type(2){
  font-weight: 400;
  font-size: 15px;  
  margin-top: 5px;
}
#sc3 .dsc{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0,0,0,0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 30px;
}
#sc3 .dsc p:nth-child(1){
  font-weight: 300;
  margin-top: 16px;
  line-height: 24px;
}
#sc3 .dsc p:nth-child(2){
  font-family: 'TTLaundryGothicB';
  font-size: 38px;
  margin-bottom: 30px;
}
#sc3 .dsc > span{
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 35px;
  height: 2px;
}
#sc3 .dsc p:nth-of-type(3){
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
}
#sc3 a{
  border: 1px solid #fff;
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 30px;
  margin-top: 20px;
}
#sc3 a:hover{
  background-color: rgba(255,255,255,0.7); 
  color: #333;
  border: none;
  font-weight: 800;
}

#sc4{position: relative;}
#sc4 .bg{
  position: relative;
  width: 1200px;
  height: 1250px;
  overflow: hidden;
}
#sc4 > span{
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgb(50, 81, 58);
  width: 1px;
  height: 80px;
}
#sc4 .dsc1{
  height: 80px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#sc4 .dsc1 h4{
  color: #333; 
  font-size: 19.5px;
  margin-top: -10px;
}
#sc4 .dsc1 a{
  top: 100px;
  position: absolute;
  border: 1px solid rgb(50, 81, 58);
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(50, 81, 58);
  text-align: center;
  font-weight: 800;
}
#sc4 .dsc1 a:hover{
  background-color: rgb(50, 81, 58);
  color: #fff;
}
#sc4 .dsc2{
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #333;
}
#sc4 .dsc2 p:nth-child(1){
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  font-family: 'TTLaundryGothicB';

}
#sc4 .items{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  justify-content: space-between;
  transform: translateX(-50%);
}
#sc4 .item{
  width: 270px;
  height: 410px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
#sc4 .item img{
  width: 100%;
  height: 270px;
  object-fit: cover;
  position: absolute;
}
#sc4 .item:hover{
  transform: scale(1.3);
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0,0,0,0.4);
}
#sc4 .item:hover .detail{
  opacity: 1;
  transform: scale(0.8);
}
#sc4 .detail{
  width: 240px;
  opacity: 0;
  position: absolute;
  margin: 0;
  top: 280px;
  left: 10px;
}

#sc5{
  width: 100%;
  height: 300px;
  position: relative;
}
#sc5 img{mix-blend-mode: multiply; opacity: 0.9;}
#sc5 span{
  position: absolute;
  background-color: rgb(50, 81, 58);
  width: 35px;
  height: 3px;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}
#sc5 ul{
  width: 1200px;
  height: 170px;
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#sc5 ul li{
  width: 171.4px;
  height: 170px;
  position: relative;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
#sc5 ul li:before{
  content:'';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.45);
  z-index: 10;

}
#sc5 ul li:nth-child(1){background-color:rgb(221, 255, 185)}
#sc5 ul li:nth-child(2){background-color:rgb(177, 239, 255)}
#sc5 ul li:nth-child(3){background-color:rgb(255, 230, 184)}
#sc5 ul li:nth-child(4){background-color:rgb(219, 205, 255)}
#sc5 ul li:nth-child(5){background-color:rgb(244, 255, 163)}
#sc5 ul li:nth-child(6){background-color:rgb(174, 255, 208)}
#sc5 ul li:nth-child(7){background-color:rgb(255, 201, 211)}

#sc5 ul li img{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  z-index: -1;
}
#sc5 ul li .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: #fff;
}
#sc5 ul li p:nth-of-type(1){
  font-size: 20px;
  font-weight: 600;
}
#sc5 ul li p:nth-of-type(2){
  font-size: 15px;
  font-weight: 300;
}
#sc5 ul li:hover{
  transform: scale(1.15);
  z-index: 10;
}
#sc5 ul li:hover:before{opacity: 0;}
#sc5 ul li:hover .text{
  color: #000; 
  transform: translate(-50%, 220%) scale(0.8);
}

#sc6{
  width: 100%;
  height: 330px;
  position: relative;
  margin-top: 230px;
}
#sc6 .contain{
  position: absolute;
  width: 1200px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#sc6 .contain > div{
  position: relative;
  width: 350px;
  height: inherit;
  background-color: #eee;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}
#sc6 .contain > div:hover{
  background-color:rgb(50, 81, 58);
  border-radius: 80px;  
}
#sc6 .contain > div:hover p{color: #fff;}
#sc6 .contain > div:hover i{color: #fff;}
#sc6 .contain i{
  font-size: 40px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  color:rgb(50, 81, 58);
  animation: icon-ani 1s ease-in infinite;
}
@keyframes icon-ani{
  0%, 100%{transform: translate(-50%, -10%);}
  50%{transform: translate(-50%, 0);}
}
#sc6 .contain .text{
  position: absolute;
  width: 280px;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
}
#sc6 .contain p:nth-child(1){
  font-size: 18px;
  font-weight: 800;
  color:rgb(50, 81, 58);
  line-height: 35px;
}#sc6 .contain p:nth-child(2){
  font-size: 14px;
  font-weight: 500;
  color: #666;
  line-height: 18px;
}

footer{
  color: #999;
  font-size: 13px;
}
footer > a{
  display: block;
  text-align: center; 
  margin-bottom: 8px;
  }
footer .ft{
  display: flex;
  gap: 50px;
  margin: 30px 0;
}
footer img{
  width: 180px;
  height: 50px;
  object-fit: cover;
  margin: 0 50px;
}
footer .b1{margin-left: 150px;}
footer .b1 p:nth-child(1){
  font-size: 24px;
  font-weight: 700;
}
footer .b1 p:nth-child(1) em{
  color:rgb(50, 81, 58);
  font-style: normal;
}
footer .b1 p:nth-child(3){
  margin-top: 26px;
  font-size: 22px;
  font-weight: 700;
}
footer .b1 p:nth-child(3) strong{
  font-size: 16px;
  font-weight: 500;
}
footer .b1 p:nth-child(4){
  font-size: 22px;
  font-weight: 700;
}
footer .b1 p:nth-child(4) strong{
  font-size: 16px;
  font-weight: 500;
}
footer .b2{
  line-height: 20px;
  margin-bottom: 50px;
}
footer .b2 em{
  font-style: normal;
  font-size: 11px;
  font-weight: 900;
  color:rgb(50, 81, 58);
  text-decoration: underline;
}


